*{
    color: white;
    
}

html{
    background-image: url(./assets/bg\ darkest.png);
    background-attachment: fixed;
    background-size: 100%;
    
}

a{
    text-decoration: none;
}

.volver-inicio{
    width: 100px;
    margin: 0 5px;
    padding: 10px;
    position: fixed;
    top: 15px;
    left: 0px;
    cursor: pointer;
    list-style-type: none;

    background-color: #730e45;
    border-radius: 5px;
}

.volver-inicio:hover {
    background-color: #2d0140;
    box-shadow: 1px 3px 6px #400425;
}
.img_gameplay {
    max-width: 50%;
    
}
p{
    margin-left: 10% ;
    margin-right: 10% ;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 5%;
    padding-bottom: 1%;
}
p::first-letter{
    color : orange;
    font-size : 32px;

}
.centrado
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
#title{
    grid-column: 1;
    grid-row: 1;
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

#title2{
    grid-column: 1;
    grid-row: 1;
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
}



@keyframes fade {
    0%{opacity: 1;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 0;}

}

footer {
    display:grid;
    grid-gap: 3%;
    grid-template-columns: 100vh 25vh 25vh;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.sociales{
    grid-row: 1;
    grid-column: 1;
}

.links{
    grid-row: 1;
    grid-column: 2;
    text-align: right;
}
.logo {
    grid-row: 1;
    grid-column: 3;
    background: url(https://store.steampowered.com/app/262060/Darkest_Dungeon/);
    overflow: hidden;
    border-radius: 100%;
    max-width: 20%;
    max-height: 20%;  
    right: 3%;
}



